@{
    ViewData["Title"] = "Search";
}

<section class="section section-alt">
    <header>
        <h2>Searching: @ViewData["Term"]</h2>
    </header>

</section>
<section>
    <nav>
        <ul class="profile-nav">
            <li class="@(ViewData["criteria"].ToString() == "" ? "active":"")"><a asp-route-search='@ViewData["Term"]' asp-route-criteria="">Users</a></li>
            <li class="@(ViewData["criteria"].ToString() == "Groups" ? "active":"")"><a asp-route-search='@ViewData["Term"]' asp-route-criteria="Groups">Groups</a></li>
            <li class="@(ViewData["criteria"].ToString() == "Interest" ? "active":"")"><a asp-route-search='@ViewData["Term"]' asp-route-criteria="Interest">Interests</a></li>
            <li class="@(ViewData["criteria"].ToString() == "UserInterest" ? "active":"")"><a asp-route-search='@ViewData["Term"]' asp-route-criteria="UserInterest">Users By Interests</a></li>
        </ul>
    </nav>
</section>

@if (ViewData["criteria"].ToString() == "")
{
    @await Component.InvokeAsync("UserList", new { term = ViewData["Term"] });
}
else if (ViewData["criteria"].ToString() == "Groups")
{
    @await Component.InvokeAsync("GroupList", new { term = ViewData["Term"] });
}
else if (ViewData["criteria"].ToString() == "Interest")
{
    @await Component.InvokeAsync("TagList", new { term = ViewData["Term"] });
}
else if (ViewData["criteria"].ToString() == "UserInterest")
{
    @await Component.InvokeAsync("UserList", new { term = ViewData["Term"], Interest = true });
}