@model UserProfile

@{
    ViewData["Title"] = "Delete Account";
}

<section class="container">
    <article>
        <form asp-controller="User" asp-action="Delete" method="post" class="form">

            <div>
                <h2>Are you sure you want to delete your account?</h2>
            </div>
            <div class="form-group">
                <button type="submit" asp-controller="User" asp-action="Delete" asp-route-userId="@Model.UserId" asp-route-confirmDelete="true" class="btn btn-danger">Delete Account</button>
                <button type="submit" asp-controller="User" asp-action="Delete" asp-route-confirmDelete="false" class="btn btn-primary">Cancel</button>
            </div>
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.FollowerCount)
            @Html.HiddenFor(x => x.FollowingCount)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.UserName)
        </form>
    </article>
</section>
