@model UserProfile

@{
    ViewData["Title"] = Model.UserName;
}

<section class="section section-alt">
    <article class="user-profile">
        <div>
            <h1 class="username">@Model.UserName</h1>
            <h6>@Model.Email</h6>
        </div>
    </article>
</section>
<section class="section">
    <nav>
        <ul class="profile-nav">
            <li><a class="profile_tab" asp-route-tab="">Profile</a></li>
            <li><a class="profile_tab" asp-route-tab="Posts">Posts</a></li>
            <li><a class="profile_tab" asp-route-tab="Groups">Groups</a></li>
            <li><a class="profile_tab" asp-route-tab="Following">Following</a>: <span>@Model.FollowingCount</span></li>
            <li><a class="profile_tab" asp-route-tab="Followers">Followers</a>: <span>@Model.FollowerCount</span></li>
            <li><a class="profile_tab" asp-controller="Message" asp-action="@Model.UserId"><i class="fas fa-envelope"></i></a></li>
        </ul>
    </nav>
</section>

@if (ViewData["tab"].ToString() == "Posts")
{
    @await Component.InvokeAsync("PostFeed", new { userId = Model.UserId, myPosts = true });
}
else if (ViewData["tab"].ToString() == "Groups")
{
    @await Component.InvokeAsync("GroupList", new { userId = Model.UserId});
}
else if (ViewData["tab"].ToString() == "Following")
{
    @await Component.InvokeAsync("UserList", new { userId = Model.UserId, Following = true });
}
else if (ViewData["tab"].ToString() == "Followers")
{
    @await Component.InvokeAsync("UserList", new { userId = Model.UserId, Following = false });
}
else
{
    <section class="section">
        <article>
            <header><h1>Bio</h1></header>
            <p class="user_bio">@Model.Bio</p>
        </article>
    </section>
}
