@model UserProfile

@{
    ViewData["Title"] = Model.UserName;
}

<section>
    <article class="user-profile">
        <div>
            <h1>@Model.UserName</h1>
            <h6>@Model.Email</h6>
        </div>
        <div>
            <h5><a asp-controller="User" asp-action="Followers">Followers: @Model.FollowerCount</a></h5>
            <h5><a asp-controller="User" asp-action="Following"> Following: @Model.FollowingCount </a></h5>
        </div>
    </article>
</section>
<hr />
<section class="post-container" data-userId="@Model.UserId" data-action="Post/GetPosts">
    @if (ViewBag.Posts != null)
    {
        @foreach (UserPost post in ViewBag.Posts)
        {
            <article class="post">
                <header class="post-header">
                    <h3><a asp-controller="User" asp-action="Index" asp-route-userId="@post.UserId">@post.UserName</a></h3>
                    <h4><a asp-controller="Post" asp-action="Index" asp-route-postId="@post.PostId"> @post.DateCreated </a></h4>
                </header>
                <div class="post-content">
                    <p>
                        @post.Text
                    </p>
                </div>
            </article>
        }
    }
    else
    {
        <h4>No posts</h4>
    }
</section>