@model List<UserPost>

<section class="post-container">
    @if (Model != null)
    {
        @foreach (UserPost post in Model)
        {
            <article class="post">
                <header class="post-header">
                    <h3><a asp-controller="User" asp-action="Index" asp-route-userId="@post.UserId">@post.UserName</a></h3>
                    <h4><a asp-controller="Post" asp-action="Index" asp-route-postId="@post.PostId"> @post.DateCreated </a></h4>
                </header>
                <div class="post-content">
                    <p>
                        @post.Text
                    </p>
                </div>
            </article>
        }
    }
    else
    {
        <h4>No posts</h4>
    }
</section>