@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using WVUPSM.Models.Entities;

@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WVUPSM</title>
    <base href='@Url.Content("~/")'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fanwood+Text|Muli" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/build/site.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/build/site.min.css" asp-append-version="true"/>
    </environment>

</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("CreatePost", new { User = User })
    }
    <nav class="top-nav">
        <ul class="top-nav-list">
            @if (SignInManager.IsSignedIn(User))
            {
                <li><a class="header_link" asp-area="" asp-controller="Home" asp-action="Index">My Feed</a></li>
                <li><a class="header_link" asp-area="" asp-controller="RSS" asp-action="Index">Campus News</a></li>
                <li>
                    <form asp-action="Search" asp-controller="Home" method="get">
                        <input type="search" placeholder="Search.." name="search" class="form-control search" />
                    </form>
                </li>
                <li> <a href="@(Context.Request.Path + Context.Request.QueryString + "#create-post")" class="feather"><i class="fas fa-feather-alt"></i></a></li>
                <li> <a asp-controller="Message" asp-action="Inbox" class="feather"><i class="fas fa-comments"></i></a></li>
                @await Html.PartialAsync("_NotificationDropdown")
            }
            @await Html.PartialAsync("_LoginPartial")
        </ul>
    </nav>
    <main>
        @if (TempData["Announcement"] != null)
        {
            <section class="section section-announcement">
                <h2>@TempData["Announcement"]</h2>
                <a onclick="clearAnnouncements()"><i class="fas fa-times"></i></a>
            </section>
        }
        @RenderBody()
    </main>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/build/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/build/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
