@model List<RssFeedItemViewModel>


<header class="section section-alt">
    <h1>WVU-P News</h1>
</header>
<section>
    <nav>
        <ul class="profile-nav">
            <li class="@(ViewData["tab"].ToString() == "" ? "active":"")"><a asp-route-tab="">Chronicle Articles</a></li>
            <li class="@(ViewData["tab"].ToString() == "WVUP" ? "active":"")"><a asp-route-tab="WVUP">WVU-P Articles</a></li>
        </ul>
    </nav>
</section>
<section class="section">
    @foreach (RssFeedItemViewModel item in Model)
    {
        <article class="rss-item">
            @if (item.ThumbnailUrl.Length > 0)
            {
                <figure>
                    <img class="rss-thumb" src="@item.ThumbnailUrl" />
                </figure>
            }
            <div>
                <header>
                    <h2>@item.Title</h2>
                    <h5>By: @item.Author, Published On: @item.PubDate</h5>
                </header>
                <p>@Html.Raw(item.Description)</p>
                @if (ViewData["tab"].ToString() == "")
                {
                    <a href="@item.Link" target="_blank">Read More</a>
                }
                else if (ViewData["tab"].ToString() == "WVUP")
                {
                    <a href="@item.Link" target="_blank">Read More</a>
                }
            </div>
        </article>
    }
</section>
